https://www.reddit.com/r/dailyprogrammer/comments/7btzrw/20171108_challenge_339_intermediate_a_car_renting/

A carriage company is renting cars and there is a particular car for which the interest is the highest so the company decides to book the requests one year in advance. We represent a request with a tuple (x, y) where x is the first day of the renting and y is the last. Your goal is to come up with an optimum strategy where you serve the most number of requests.

The first line of the input will be n the number of requests. The following two lines will consist of n numbers for the starting day of the renting, followed by another n numbers for the last day of the renting corresponding. For all lines 0 < x i < y i <= 365 inequality holds, where i=1, 2, ..., n.

In [66]:
inputs = """10  
1 12 5 12 13 40 30 22 70 19  
23 13 10 29 25 66 35 33 100 65"""

In [67]:
inputs = """10  
1 2 5 10 13 14 29 22 70 19  
10 13 10 21 14 30 35 33 99 80"""

In [68]:
# Process the data

inputs = inputs.split('\n')
inputs = [i.strip() for i in inputs]
first_days = [int(i) for i in inputs[1].split()]
last_days = [int(i) for i in inputs[2].split()]

len(first_days) == len(last_days)

True

In [69]:
requests = []

# Each item is a tuple of days followed by the length of the rental
for i in range(len(first_days)):
    requests.append([(first_days[i], last_days[i]),
                    last_days[i] - first_days[i]])
    
requests

[[(1, 10), 9],
 [(2, 13), 11],
 [(5, 10), 5],
 [(10, 21), 11],
 [(13, 14), 1],
 [(14, 30), 16],
 [(29, 35), 6],
 [(22, 33), 11],
 [(70, 99), 29],
 [(19, 80), 61]]

In [70]:
most_days = 0

for i in requests:
    last = i[0][1]
    days = i[1]
    if days > most_days:
        most_days = days
        rentals = [i[0]]
    for j in requests:
        if j[0][0] >= last:
            last = j[0][0]
            days += j[1]
            if days > most_days:
                most_days = days
                if j[0] not in rentals:
                    rentals.append(j[0])

In [71]:
rentals

[(1, 10), (10, 21), (13, 14), (14, 30), (29, 35), (70, 99)]

In [72]:
set(rentals)

{(1, 10), (10, 21), (13, 14), (14, 30), (29, 35), (70, 99)}

In [78]:
rental_options = []

for i in requests:
    rental_schedule = [i]
    
    latest = i[0][1]
    print('latest:', latest)
    
    remaining_options = [r for r in requests if r[0][0] >= latest]
    print(remaining_options)
    
    earliest = 365
    while remaining_options:
        # Pick earliest day
        for i in remaining_
        Pop that value
        Remove all days earlier
    
    for iix, j in enumerate(requests):
        if j[0][0] >= latest and j != i:
            print('latest j:', j[0][0])
            latest = j[0][1]
#             requests_temp.pop(ix)

latest: 10
[[(10, 21), 11], [(13, 14), 1], [(14, 30), 16], [(29, 35), 6], [(22, 33), 11], [(70, 99), 29], [(19, 80), 61]]
latest j: 10
latest j: 29
latest j: 70
latest: 13
[[(13, 14), 1], [(14, 30), 16], [(29, 35), 6], [(22, 33), 11], [(70, 99), 29], [(19, 80), 61]]
latest j: 13
latest j: 14
latest j: 70
latest: 10
[[(10, 21), 11], [(13, 14), 1], [(14, 30), 16], [(29, 35), 6], [(22, 33), 11], [(70, 99), 29], [(19, 80), 61]]
latest j: 10
latest j: 29
latest j: 70
latest: 21
[[(29, 35), 6], [(22, 33), 11], [(70, 99), 29]]
latest j: 29
latest j: 70
latest: 14
[[(14, 30), 16], [(29, 35), 6], [(22, 33), 11], [(70, 99), 29], [(19, 80), 61]]
latest j: 14
latest j: 70
latest: 30
[[(70, 99), 29]]
latest j: 70
latest: 35
[[(70, 99), 29]]
latest j: 70
latest: 33
[[(70, 99), 29]]
latest j: 70
latest: 99
[]
latest: 80
[]

In [84]:
# Pandas

import pandas as pd

requests = []

# Each item is a tuple of days followed by the length of the rental
for i in range(len(first_days)):
    requests.append([first_days[i], last_days[i]])
    
requests = pd.DataFrame(requests, columns=['first', 'last'])

requests

   first  last
0      1    10
1      2    13
2      5    10
3     10    21
4     13    14
5     14    30
6     29    35
7     22    33
8     70    99
9     19    80

In [95]:
plan = []

start = requests.iloc[0]

plan.append(start.values.tolist())

new = requests[requests['first'] >= start['last']]

start = new.iloc[0]

plan.append(new.values.tolist())

In [96]:
plan

[[1, 10], [10, 21]]